* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.headline {
  text-align: center;
  font-weight: 700;
}

.card {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: -3px;
  max-width: calc(33.3% - 20px);
  border-radius: 10px;
  padding: 10px;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.names {
  text-align: center;
  margin-top: 10px;
  padding: 10px 0 0px 0;
}

.iphones_price {
  text-align: center;
  padding: 5px 0 10px 0;
}

.iphones_description {
  overflow-wrap: break-word;
  word-break: break-all;
}

.specifications {
  font-weight: bold;
}
