@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter-Bold.woff2") format("woff2");
  font-weight: 700;
}
