@import url("./basic.css");

/* team page  */

.header_section {
  padding-top: 50px;
  padding-bottom: 6px;
}

.header_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "A B B"
    "A B B"
    "A C C";
}

.header_wrap_left {
  display: grid;
  grid-area: A;
}

.header_wrap_right {
  display: grid;
  grid-area: B;
  gap: 16px;
}

.links_wrap {
  display: grid;
  grid-area: C;
}

.header_links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.team_logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.wrap_logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.nav_languages {
  color: var(--text-grey);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}

.nav_languages input[type="radio"] {
  display: none;
}

.nav_languages label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 7px;
  gap: 6px;
  cursor: pointer;
  width: 33px;
  height: 25px;
  border-radius: 8px;
}

.nav_languages input[type="radio"]:checked + label {
  background-color: #f0145a;
  color: #ffffff;
}

.nav_languages label:hover {
  background: #f5f5fa;
  border-radius: 8px;
  color: #b3b3ba;
}

.nav_links label,
a {
  border-bottom: 3px solid transparent;
}

.nav_links a:hover {
  background: #ffffff;
  border-bottom: 3px solid #24a3ff;
  color: #24a3ff;
}

.nav_links input[type="radio"] {
  display: none;
}

.nav_links input[type="radio"]:checked + a {
  background-color: #ffffff;
  border-bottom: 3px solid #f0145a;
  color: #f0145a;
}

.text_address_top {
  color: var(--text-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;
}

.divider_dot {
  display: block;
  width: 6px;
  height: 6px;
  margin: 9px 0;
  background: #e6e6f0;
  border-radius: 10px;
}

.contacts_header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.contact_number {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  padding-top: 3px;
  color: #b3b3ba;
}

.nav_links {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24a3ff;
}

.container {
  padding: 0;
}

.mobile_header {
  display: none;
}

.mobile_container {
  display: block;
}

.main_section {
  margin-top: 60px;
}

.main_headline {
  margin: 0 auto;
  height: 92px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team_profiles img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card {
  min-width: 100%;
}

.card > img {
  height: 400px;
}

.profile_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  margin-top: 14px;
  cursor: pointer;
}

.card:hover .profile_name,
.email:hover {
  color: #f0145a;
}

.card:hover svg path {
  stroke: #f0145a;
  stroke-width: 2px;
}

.facebook_blue_svg:hover svg path {
  fill: #f0145a;
}

.facebook_silver_svg:hover svg path {
  fill: #f0145a;
}

.facebook_silver_svg {
  padding-top: 3px;
}

.profile_position {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
  margin-top: 5px;
}

.profiles_wrap {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.profile_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_section {
  margin-top: 60px;
  background-color: #f5f5fa;
}

.contact_number_footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466e;
}

.email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.text_address_bot {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.map_reference {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.map_reference:hover {
  color: #f0145a;
}

.privacy {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.divider_dot_bot {
  display: block;
  width: 6px;
  height: 6px;
  margin: 9px 0;
  border-radius: 10px;
  background: #b3b3ba;
}

.wrapper_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "A A C"
    "B B C";
  padding: 30px 0px;
}

.wrap_footer_first_left {
  grid-area: A;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.wrap_footer_second_left {
  grid-area: B;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.wrap_footer_right {
  grid-area: C;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.wrap_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: none;
}

.navi_checkbox {
  display: none;
}

.navigation_menu_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24a3ff;
  min-width: 335px;
  height: 43px;
  background: #f5f5fa;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation_menu_text:hover {
  color: #f0145a;
}

.navigation_menu_text:active {
  background: #e6e6f0;
}

.burger {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 3;
}

.hide_check {
  position: relative;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 5;
  opacity: 0;
}

.wrap_logo_mobile {
  display: flex;
}

.burger span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 2px;
  transition: all 0.3s linear;
  opacity: 1;
}

.burger span:first-child {
  top: 4px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 14px;
}

.burger span:last-child {
  top: 24px;
}

.hide_check:checked,
.hide_check:checked + .burger {
  top: -45px;
}

.burger span {
  background-color: #323264;
}

.burger_black span {
  background-color: #ffffff;
}

.hide_check:checked + .burger span {
  background-color: #ec6f5d;
}

.hide_check:checked + .burger span:first-child {
  top: -4px;
  opacity: 0;
}
.hide_check:checked + .burger span:nth-child(2) {
  transform: rotate(45deg);
}

.hide_check:checked + .burger span:nth-child(3) {
  transform: rotate(-45deg);
}
.hide_check:checked + .burger span:last-child {
  top: 34px;
  opacity: 0;
}

.hide_check:checked ~ .navi_checkbox {
  background: #323264;
  opacity: 100%;
  transform: translateY(0);
  margin: 0;
  border-radius: 0;
  touch-action: none;
}

.navi_checkbox .navi_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 100%;
  padding: 12px;
  background: #ffffff;
  border-radius: 12px 12px 12px 12px;
  list-style: none;
  height: 100%;
  width: 100%;
  padding-top: 64px;
}

.hide_check:checked {
  overflow: hidden;
}

.navi_checkbox {
  display: flex;
  padding: 8px 8px;
  border-radius: 12px 12px 0px 0px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  position: fixed;
  inset: 0;
  z-index: 1;
  transition: all 0.3s linear;
  transform: translateY(100vh);
}

.mobile_menu {
  display: none;
}

/* contacts page  */
.contacts_container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
  padding: 0 280px;
}

.contacts_left {
  max-width: 650px;
  width: 100%;
}

.location_text {
  display: block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  text-align: left;
}

.HowToAnswer_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}

.contacts_number {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #46466e;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts_email {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #24a3ff;
  display: block;
  margin-bottom: 30px;
}

.contacts_line_divider {
  height: 4px;
  background: #e6e6f0;
  border: none;
}

.contacts_fb_reference {
  max-width: 153px;
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.contacts_fb_reference:hover a,
.contacts_fb_reference:hover svg path {
  color: #f0145a;
  fill: #f0145a;
}

.contacts_fb_text {
  display: flex;
  max-width: 105px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.contacts_right {
  background: #f5f5fa;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
}

.contacts_form_headline {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}

.contacts_help_form {
  padding: 30px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contacts_main_sec {
  margin-top: 60px;
}

.name_message_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#firstName,
#message,
#phone,
#email {
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 8px;
  width: 590px;
  height: 56px;
  color: #b3b3ba;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 15px 15px 15px 15px;
}

#message {
  max-width: 590px;
  min-width: 100%;
  height: 130px;
  resize: none;
}

#message::-webkit-input-placeholder {
  color: #b3b3ba;
}

.form_label_text input::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b3b3ba;
}

#firstName:focus,
#message:focus,
#phone:focus,
#email:focus {
  background: #ffffff;
  color: rgba(0, 0, 0, 1);
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(36, 163, 255, 1);
  font-family: "Montserrat";
  font-weight: 400;
  border-color: #bdbdbd;
}

#firstName:invalid,
#message:invalid,
#phone:invalid,
#email:invalid {
  background: #ffffff;
  color: #ff0000;
  outline: 0;
  box-shadow: 0 0 0 0.1rem red;
  font-family: "Montserrat";
  font-weight: 400;
  border-color: #bdbdbd;
}

#firstName:not(:focus):invalid,
#message:not(:focus):invalid,
#phone:not(:focus):invalid,
#email:not(:focus):invalid {
  background: #ffffff;
  color: #b3b3ba;
  outline: 0;
  box-shadow: none;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  border-color: #bdbdbd;
}

.contacts_answer_wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sendMessage_button {
  margin-top: 30px;
  width: 100%;
  height: 56px;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.sendMessage_button:hover {
  background: #0085ff;
}

.sendMessage_button:active {
  background: #006ccf;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}

/* home page  */
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body.gradient .home-header_section {
  position: absolute;
  color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 6px;
}

.home-header_section {
  padding: 0 60px;
}

.bg-gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  color: #ffffff;
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.bg-gradient::before,
.bg-gradient::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-radius: 0px 0px 12px 12px;
}

.bg-gradient::before {
  top: 100%;
  left: 20px;
  width: calc(100% - 40px);
  transform: translateY(-50%);
  background: #cacadb;
  z-index: -1;
}

.bg-gradient::after {
  top: 100%;
  left: 40px;
  width: calc(100% - 80px);
  background: #e7e7f2;
  z-index: -2;
}

.home-first_section {
  min-height: 100vh;
  background: url("../images/Symbol2x.png") no-repeat center/contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

/* home page header  */

.nav_links-dark,
.text_address_top-dark,
.contact_number-dark,
.nav_languages-dark {
  color: #ffffff;
}

.nav_links-dark a:hover {
  background: transparent;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}

.nav_links-dark input[type="radio"]:checked + a {
  background-color: transparent;
}

.nav_languages-dark label:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #ffffff;
}

.hlegal_nav-left {
  display: flex;
  gap: 30px;
  padding-right: 60px;
  width: 40%;
  border-right: 4px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

.tab-content {
  padding-left: 60px;
  width: 60%;
}

.hlegal_button-left {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #b3b3ba;
  background: transparent;
  border: none;
}

.hlegal_nav-left button:hover {
  color: #f0145a;
  -webkit-text-fill-color: #f0145a;
}

.button_consistent {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.home-tabs_section {
  margin: 60px 0;
}

.hlegal_tab-headline {
  font-size: 30px;
}

.hlegal_tab-description {
  font-size: 19px;
  line-height: 30px;
}

.hlegal_nav-wrapper {
  max-width: 1360px;
}

.toTop:hover svg path,
.toTop:hover svg circle {
  stroke: #f0145a;
}

.home_services-ref {
  max-width: fit-content;
}

.services_headline {
  display: flex;
  align-items: center;
  gap: 5.5px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.home_services-ref:hover svg path,
.home_services-ref h3:hover {
  color: #f0145a;
  stroke: #f0145a;
}

.home_services-headline h3 {
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_services-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-services_cards-wrap {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 60px;
}

.home_services-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
}

.services-headline {
  font-size: 22px;
  color: #24a3ff;
}

.services-description {
  line-height: 26px;
  color: #ffffff;
}

.services_card {
  max-width: 493px;
}

.services_card:hover .services-headline {
  color: #f0145a;
}

.home-services_section {
  padding: 0 60px;
  padding-bottom: 60px;
}

.services-headline {
  margin: 30px 0 15px 0;
}

.slider_section {
  padding-top: 60px;
}

.Oleksandr_slider-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px 0 30px 0;
}

.slider_profile-wrap {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
}

.slider_profile-wrap img {
  height: 298px;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  background: url(.png), #ededf7;
  border-radius: 12px 0px 0px 12px;
}

.slider_right-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5f5fa;
  border-radius: 0px 12px 12px 0px;
  padding: 30px 30px;
}

.slider_credentials h4 {
  color: #b3b3ba;
  padding-bottom: 6px;
}

.slider_credentials p {
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}

.owl-carousel span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  opacity: 0.2;
  background: #24a3ff !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-carousel .active span {
  opacity: 1;
  background: #24a3ff !important;
}

.logos_section {
  margin-top: 50px;
}

.logo-item.logo_bg-blue {
  background: #1c4280;
}

.logo-item.logo_bg-dgreen {
  background: #143646;
}

.logo-item.logo_bg-dorange {
  background: linear-gradient(0deg, #f48b30, #f48b30), #f48b30;
}

.logo-item.logo_bg-purple {
  background: #9e4dc3;
}

.logo-item.logo_bg-orange {
  background: #fd9339;
}

.logo-item.logo_bg-lgrey {
  background: #e2e2e4;
}

.logo-item.logo_bg-red {
  background: #c71c36;
}

.logo-item.logo_bg-grey {
  background: #dcf3f9;
}

.logo-item.logo_bg-infratek {
  background: #eaeaea;
}

.logo-item.logo_bg-dpurple {
  background: #282240;
}

.logo-item.logo_bg-dblue {
  background: #1d4568;
}

.logo-item.logo_bg-black {
  background: #000000;
}

.logo-item {
  padding: 10px 20px;
  height: var(--logo-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-item img {
  max-height: 100%;
}

.logo-wrap {
  max-width: 1720px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 12px;
}

.logos_headline {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}

/* publications section  */
.black-publications_section {
  margin-top: 60px;
  background: #f5f5fa;
}

.black-publications_wrapper {
  padding-top: 30px;
}

.black-publications_headline {
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10px;
  padding-bottom: 30px;
}

.black-publications_card {
  max-width: 513px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  width: -moz-fit-content;
  width: fit-content;
  color: #24a3ff;
}

.black-publications_cards-wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 30px;
}

.black-publications_card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.black-publications_card h4 {
  margin-bottom: 15px;
}
.black-publications_card h5 {
  margin-bottom: 15px;
}
.black-publications_card p {
  margin-top: 15px;
}
.black-publications_card .black-publ_cards-description {
  margin: 30px 30px;
}
.black-publications_card:hover {
  color: #f0145a;
}

.publications_divider_line {
  height: 4px;
  background: #e6e6f0;
  border: none;
  display: block;
}

.black-publications_card h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.black-publications_card h5 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}

.black-publications_card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.black-publications_card .black-publication_cards-description {
  margin: 30px 30px;
}

/* footer  */

.wrapper_black-footer {
  border-top: 2px solid;
  color: #e6e6f0;
  margin-top: 0px;
}

.black-publications_footer-section {
  margin-top: 0;
}

.slash_logo_black {
  display: none;
}

.team_logo_black {
  display: none;
}

.home-first-section_headline {
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
}

.contact-number_black-mobile,
.nav_languages-black {
  color: #ffffff;
}
